<footer class="text-center">

    <div class=''>
        <a href="https://twitter.com/sparkplugnow" target='blank'>
                        <i class="fa fa-twitter"></i>
                    </a> | Crafted and Designed with
        <i class='fa fa-heart love'></i> by
        <a href="https://sparkplugnow.com">
                            Sparkplugnow
                        </a>
    </div>
</footer>
</body>

</html>