<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sparkplugnow coin-service</title>
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
  <!--  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css"> -->
 

<!-- Latest compiled and minified CSS CDN-->
<link rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4uhref=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
    ""crossorigin="anonymous">
<link rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/"><img src="http://sparkplugnow.com/wp-content/uploads/2017/01/smallsym.png" alt="sparkplug" width='50px' height='50px'></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://github.com/sparkplugnow" target="blank " class='fa fa-github fa-2x'></a></li>
                <li><a href="http://www.sparkplugnow.slack.com" target="blank" class='fa fa-slack fa-2x'></a></li>
                <li><a href="http://twitter.com/sparkplugnow" target="blank " class='fa fa-twitter fa-2x'></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle fa fa-user-circle-o fa-2x" data-toggle="dropdown" role="button" aria- - haspopup="true"
                        aria-expanded="false"> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <%users.forEach(function(user){%>
                        <li class='' id='dropdown'><a href=/users/<%= user.username %>><%= user.username%> </a></li>
                        <%})%>
                    </ul>
                </li>       
            </ul>
        </div>
    </div>
</nav>
    <div class="container-fluid">
        <div class="col-md-3">

            <div id="sidebar">
                <div class="container-fluid tmargin">
                    <form action='search' method='post'>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." />
                        <span class="input-group-btn">
              <button class="btn btn-default"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                    </form>
                </div>

                <ul class="nav navbar-nav side-bar">
                    <li class="side-bar tmargin"><a href="#"><span class="fa fa-list">&nbsp;</span>Dashboard</a></li>
                    <li class="side-bar"><a href="#"><span class="fa fa-flag">&nbsp;</span>Purok</a></li>
                    <li class="side-bar"><a href="#"><span class="fa fa-star">&nbsp;</span>Blotter</a></li>
                    <li class="side-bar">
                        <a href="#"><span class="fa fa-certificate">&nbsp;</span>Officials</a></li>

                    <li class="side-bar"><a href="#"><span class="fa fa-signal">&nbsp;</span>Statistics</a></li>
                    <li class="side-bar"><a href="#"><span class="fa fa-cog">&nbsp;</span>Settings</a></li>

                </ul>
            </div>
        </div>
        <div class="col-md-9 animated bounce">
            <h1 class="page-header">Dashboard</h1>
            <ul class="breadcrumb">
                <li><span class="fa fa-home">&nbsp;</span>Home</li>
                <li><a href="#">Dashboard</a></li>
            </ul>
            <body>