<%include partials/header%>       
       
       <!-- START CONTENT END -->
<div class="row">

  <div class="col-md-6 text-center">
    <div class="page-header">USER</div>
    <div>
      <% users.forEach(function(user){%>
          <div class='well'><a href=users/<%= user._id%>><%= user.username%> </a></div> 
          
        <%})%>
  </div>
 </div>
  <div class="col-md-6 text-center">
    <div class="page-header">BALANCE</div>
    <div>
      <% wallets.forEach(function(wallet){%>
        <div class='well'>
          <%= wallet.balance%>
        </div>
        <%})%>
    </div>
  </div>
</div>
   