<%include partials/header%>       
       
       <!-- START CONTENT END -->
<div class="row">

  <div class="col-md-6 text-center">
    <div class="page-header">USER</div>
    <div>
      <% users.forEach(function(user){%>
          <div class='well'><a href=user/<%= user.username%>><%= user.username%> </a></div> 
        <%})%>
  </div>
 </div>
  <div class="col-md-6 text-center">
    <div class="page-header">balance%</div>
    <div>
      <% wallets.forEach(function(wallet){%>
        <div class='well'>
          <%= wallet.balance%>
        </div>
        <%})%>
    </div>
  </div>
</div>

                  <!-- DUMP CONTENT END -->

      </tbody>

    </table>
  </div>
</div>

</div>

  
   