body {
  padding-top: 80px;
  background-color:#ECF0F1;
  font-family:tahoma;
}
nav .navbar-brand{
	padding-top:0px;
	font-size: 40px;
	height:60px;
    font-family:"Times New Roman", Times, serif;
}
nav ul li{
    font-size: 20px;
	padding-right: 10px;
    font-family:"Lucida Console", Monaco, monospace ;
}
#body{
	min-height:500px;
}
.dropdown-menu li{
    font-family:"Comic Sans MS", cursive, sans-serif;
}
#sidebar {
  position: fixed;
  top: 50px;
  left: 220px;
  width: 220px;
  margin-left: -220px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #222;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
}

.side-bar > li > a {
  color: #eee;
  width: 220px;
}

.side-bar li a:hover,
.side-bar li a:focus {
  background-color: #333;
}
#username{

}
#balance{
}